-
    var stats = [
    {
    name: 'Core',
    icon: '1f94b',
    trainDesc: 'Do some sit ups?',
    verb: 'Crunch'
    },
    {
    name: 'Leg',
    icon: '1f9b5',
    trainDesc: 'Do some squats?',
    verb: 'Squat'
    },
    {
    name: 'Arm',
    icon: '1f4aa',
    trainDesc: 'Do some curls?',
    verb: 'Curl'
    },
    {
    name: 'Sight',
    icon: '1f441',
    trainDesc: 'Read a book?',
    verb: 'Read'
    },
    {
    name: 'Hair',
    icon: '1f488',
    trainDesc: 'Brush hair?',
    verb: 'Groom'
    },
    {
    name: 'Taste',
    icon: '1f445',
    trainDesc: 'Do some extreme eating?',
    verb: 'Munch'
    },
    {
    name: 'Dog Affinity',
    icon: '1f436',
    trainDesc: 'Play with a dog?',
    verb: 'Get licked'
    },
    {
    name: 'Meme Tolerance',
    icon: '1f5e3',
    trainDesc: 'Scope some dank memes?',
    verb: 'Surf the web'
    }
    ]

-
    var egginfo = {
    name: 'Egg',
    icon: '1f95a',
    trainDesc: 'Incubate the egg?',
    verb: 'Incubate'
    }

mixin statdisplay(stat)
  - var statId = stat.name.split(' ')[0].toLowerCase()
  .position-relative.mb-2
      .w-100.text-center.lock.p-2
          +emoji('1f512')

      .stat-row.d-flex.flex-row.align-items-center.p-2(data-toggle='modal' data-target=`#train-${statId}` id=`${statId}-bar`)
          +emoji(stat.icon)(id=`${statId}-icon` class="mr-2")
          span.mr-1(id=`${statId}-name`) #{stat.name}
          .d-flex.flex-column.align-items.center.ml-auto.w-50
              .progress
                  .progress-bar.bg-info(id=`${statId}-prog` role=progressbar)
              .statstars(id=`${statId}-stars`)
                  | #{'\u2606'}#{'\u2606'}#{'\u2606'}#{'\u2606'}#{'\u2606'}
          span.ml-1.p-2.statlvl(id=`${statId}-num`) 0

mixin trainingDialog(stat)
    - var statId = stat.name.split(' ')[0].toLowerCase()
    .modal.fade(id=`train-${statId}` role='dialog')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    h5.modal-title Train #{stat.name}
                .modal-body
                    h6 #{stat.trainDesc}
                    div
                        label(for=`${statId}-trainbtn`)
                            | #{stat.verb} for
                            input.mr-1.ml-1(id=`${statId}-trainamnt` type='number' step=0.2 min=0)
                            | minutes
                .modal-footer
                    button.btn.btn-secondary(data-dismiss='modal') Cancel
                    button.btn.btn-success(id=`start-${statId}`) Begin

.row
    .col
        include emoji
        .hidden#egg-display
            +statdisplay(egginfo)
            +trainingDialog(egginfo)
        #stat-display
            h5 Stats
            each stat in stats
                +statdisplay(stat)
                +trainingDialog(stat)
