-
    var constants = [
        {
            name: 'Blink',
            initial: 10
        },
        {
            name: 'Speak',
            initial: 10
        }
    ]

mixin constantSlider(constant)
    .d-flex.flex-row.align-items-center
        span.mr-1 #{constant.name} Chance
        input.ml-auto.w-50(
            type='range'
            min='1'
            max='100'
            value=constant.initial
            id=`${constant.name.toLowerCase()}-rate`
        )
        span.p-2.ml-1(id=`${constant.name.toLowerCase()}-rate-indicator`) #{constant.initial}/100

.m-1
    .p-1
        each constant in constants
            +constantSlider(constant)
