-
    var stats = [
        {
            name: 'Core',
            initial: 0,
            points: [20, 40, 60, 80]
        },
        {
            name: 'Leg',
            initial: 0,
            points: [1]
        },
        {
            name: 'Arm',
            initial: 0,
            points: [1]
        },
        {
            name: 'Sight',
            initial: 0,
            points: [30, 60]
        },
        {
            name: 'Hair',
            initial: 0,
            points: [1, 30, 70]
        },
        {
            name: 'Taste',
            initial: 0,
        },
        {
            name: 'Dog Affinity',
            initial: 0,
            points: [1, 20, 40, 60, 80]
        },
        {
            name: 'Meme Tolerance',
            initial: 0,
        },
        {
            name: 'Egg Stage',
            initial: 1,
            max: 30,
            points: [1,10,20,30]
        }
    ]

mixin statSlider(stat)
    - var statId = stat.name.split(' ')[0].toLowerCase()
    .d-flex.flex-row.align-items-center
        span.mr-1= stat.name
        input.ml-auto.w-50.align-bottom(
            type='range'
            min=stat.initial
            max=`${stat.max||100}`,
            value=stat.initial
            id=`${statId}-range`
            list=`${statId}-list`
            step=1
        )
        //if stat.points
        //    datalist(id=`${statId}-list`)
        //        each point in stat.points
        //            option= point
        span.ml-1.p-2(id=`${statId}-num`)= stat.initial

.border.m-1#stat-sliders
    .p-1
        .d-flex.flex-row
            h6.d-inline-block Stats:
            h6.d-inline-block.ml-auto Level:
                span.ml-1#level-display 000
        each stat in stats
            +statSlider(stat)
