mixin stateSetter(state, btnType)
    label.btn(for=`set_state_${state}` class=`btn-${btnType}`)
        input(id=`set_state_${state}` type='radio' name='state-radio' autocomplete='off' value=`state_${state}`)
        | #{state[0].toUpperCase() + state.slice(1)}

mixin stateSetterGroup(s, btnType)
    .btn-group.btn-group-toggle.m-1(role='group')
        each i in s
            +stateSetter(i, btnType)

-
    var states = [
        'idle',
        'sleep',
        'pet',
        'feed',
        'baby',
    ]

    var exercises = [
        'core',
        'leg',
        'arm',
        'sight',
        'hair',
        'taste',
        'dog',
        'meme',
        'egg'
    ]

#state-picker.border.m-1
    .p-1
        h6 State:
        .btn-toolbar.d-flex.flex-column(data-toggle='buttons' role='toolbar')
            | Idle:
            +stateSetterGroup(states, 'info')
            | Exercise:
            +stateSetterGroup(exercises, 'success')
